.fact {
    background:linear-gradient(rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.329)), url("../assets/img/data/data2.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
    padding-top: 3rem;
    padding-bottom: 3rem; 
}